<!DOCTYPE html>

<% include ./layout %>
<style>
        body {

                background-image: url("/stylesheets/index.jpg");
                background-repeat: no-repeat, repeat;
        }
</style>
<h1 class="display-3 text-center text-white" style="margin-top:80px">Login/Register to add your favourite music bands
</h1>

</html>